TesteServico/Service References/ServiceReference1/CaronaWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/CaronaWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CaronaWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfCarona">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Carona" nillable="true" type="tns:Carona" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarona" nillable="true" type="tns:ArrayOfCarona" />
  <xs:complexType name="Carona">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinoLatitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinoLongitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="OrigemLatitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrigemLongitude" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Carona" nillable="true" type="tns:Carona" />
</xs:schema>