TesteServico/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CaronaWCF" />
  <xs:element name="GetCaronas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaronasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CaronaWCF" minOccurs="0" name="GetCaronasResult" nillable="true" type="q1:ArrayOfCarona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaronaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CaronaWCF" minOccurs="0" name="GetCaronaResult" nillable="true" type="q2:Carona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastreCarona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="descricao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="origem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destino" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastreCaronaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CadastreCaronaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluaCarona">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CaronaWCF" minOccurs="0" name="carona" nillable="true" type="q3:Carona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluaCaronaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExcluaCaronaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>