TesteServico/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CaronaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CaronaWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICarona_GetCaronas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCaronas" />
  </wsdl:message>
  <wsdl:message name="ICarona_GetCaronas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCaronasResponse" />
  </wsdl:message>
  <wsdl:message name="ICarona_GetCarona_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarona" />
  </wsdl:message>
  <wsdl:message name="ICarona_GetCarona_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCaronaResponse" />
  </wsdl:message>
  <wsdl:message name="ICarona_CadastreCarona_InputMessage">
    <wsdl:part name="parameters" element="tns:CadastreCarona" />
  </wsdl:message>
  <wsdl:message name="ICarona_CadastreCarona_OutputMessage">
    <wsdl:part name="parameters" element="tns:CadastreCaronaResponse" />
  </wsdl:message>
  <wsdl:message name="ICarona_ExcluaCarona_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcluaCarona" />
  </wsdl:message>
  <wsdl:message name="ICarona_ExcluaCarona_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluaCaronaResponse" />
  </wsdl:message>
  <wsdl:portType name="ICarona">
    <wsdl:operation name="GetCaronas">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarona/GetCaronas" message="tns:ICarona_GetCaronas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarona/GetCaronasResponse" message="tns:ICarona_GetCaronas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarona">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarona/GetCarona" message="tns:ICarona_GetCarona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarona/GetCaronaResponse" message="tns:ICarona_GetCarona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastreCarona">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarona/CadastreCarona" message="tns:ICarona_CadastreCarona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarona/CadastreCaronaResponse" message="tns:ICarona_CadastreCarona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcluaCarona">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarona/ExcluaCarona" message="tns:ICarona_ExcluaCarona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarona/ExcluaCaronaResponse" message="tns:ICarona_ExcluaCarona_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICarona" type="tns:ICarona">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCaronas">
      <soap:operation soapAction="http://tempuri.org/ICarona/GetCaronas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarona">
      <soap:operation soapAction="http://tempuri.org/ICarona/GetCarona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastreCarona">
      <soap:operation soapAction="http://tempuri.org/ICarona/CadastreCarona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluaCarona">
      <soap:operation soapAction="http://tempuri.org/ICarona/ExcluaCarona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CaronaService">
    <wsdl:port name="BasicHttpBinding_ICarona" binding="tns:BasicHttpBinding_ICarona">
      <soap:address location="http://localhost:8080/CaronaService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>